.Camera {
  width: 100%;
  height: 120%;
  background-color: #00000000;
  margin: auto;
  overflow: hidden;
  scroll-behavior: unset;
}

.navBar {
  position: absolute;
  background-color: #00000060;
  opacity: 100%;
  height: 15%;
  text-align: center;

  bottom: 13%;
  width: 100%;
}

.navButton {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  display: inline;
  border: none;
  background-color: #00000000;
  opacity: 100% !important;
}

.cameraSpacer {
  background-color: #00000000;
  height: 85%;
}